.main-to-do-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.main-to-do-item input[type='checkbox']::before {
    color: #727CF5;
}

.main-to-do-item input[type='checkbox'] {
    margin-right: 0.5rem;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 1rem;
    border: 1rem solid rgb(222, 226, 230);
} 

.main-to-do-item label {
    color: #313A46;
    font-size: 1.1rem;
    font-weight: 600;
}