.main-to-do-card {
    width: 100%;
    padding: 1.6rem;
    background-color: #FFF;
    border-radius: 0.2rem;
}

.info-card-to-do-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.info-card-to-do-card h3 {
    color: #6C757D;
    font-size: 1.1rem;
    font-weight: 600;
}

.icon-info-card-to-do-card {
    color: #6C757D;
    width: 1.3rem;
}

.items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}